/*解决IE6中固定定位元素在滚动条滑动时的闪烁效果，以及背景图片重复加载问题*/
* html{background-image:url(about:blank);background-attachment:fixed;zoom:expression(function(ele){ ele.style.zoom = "1"; document.execCommand("BackgroundImageCache", false, true); }(this));}

/*让相关元素的边距、填充、边框在所有浏览器中表现一致*/
body,header,footer,aside,article,section,hgroup,nav,menu,canvas,output,dialog,datalist,details,figure,figcaption,audio,video,progress,mark,time,object,embed,div,p,address,blockquote,pre,dl,dt,dd,ol,ul,li,map,table,caption,thead,tbody,tfoot,tr,th,td,form,fieldset,legend,img,input,button,textarea,iframe,h1,h2,h3,h4,h5,h6{margin:0;padding:0;border:none;}

/*使IE6~8浏览器中HTML5的相关标签表现正常*/
header,footer,aside,article,section,hgroup,nav,menu,canvas,details,figure,figcaption,audio,video{display:block;}

/*input,button,select,textarea等标签不继承body的字体大小、字体名称、颜色等属性*/
body,input,button,select,textarea{font-size:12px;font-family:Simsun;color:#333;}

/*h系列标签不继承body的字体大小*/
h1,h2,h3,h4,h5,h6{font-size:12px;}

/*设置body的默认样式*/
body{background:#fff;}

/*使表格处于单边框模式*/
table{border-collapse:collapse;border-spacing:0;table-layout:fixed;}

/*使特殊文本元素正常显示*/
address,em,i{font-style:normal;}

/*使按钮控件鼠标悬浮时呈手型显示*/
button{cursor:pointer;}

/*Firefox浏览器button按钮无法将文本垂直居中的解决方案*/
button::-moz-focus-inner{border:0;padding:0;}

/*去掉高级浏览器中关于文本域的默认可伸缩性*/
textarea{resize:none;}

/*使列表更好地工作*/
li{list-style:none;overflow:hidden;}

/*锚链接默认行为样式*/
a{color:#333;text-decoration:none;}
a:hover{text-decoration:underline;}
a *{cursor:pointer;}

/*用于隐藏元素的替代方案（代替display:none）*/
.none{float:left;width:0;height:0;overflow:hidden;}

/*用于清除元素内部的浮动效果*/
.clearfix:after{content:"";clear:both;display:block;height:0;}
.clearfix{zoom:1;}

/*版权符号*/
.copyright{font-family:"Arial";}

/*暂无文章的默认设置*/
p.noText{line-height:40px;text-indent:2em;background:none;}

/*广告图片的默认设置*/
.advert{clear:both;}
.advert img{display:block;vertical-align:baseline;}

/*模块化制作所使用的边距、浮动*/
.mt_10{margin-top:10px;}
.mb_10{margin-bottom:10px;}
.ml_10{margin-left:10px;}
.mr_10{margin-right:10px;}
.m_auto{margin-left:auto;margin-right:auto;}
.f_left{float:left;display:inline;}
.f_right{float:right;display:inline;}

/*解决相关功能模块的空白占位*/
.cnzz{clear:both;float:left;display:inline;overflow:hidden;height:20px;margin-top:-20px;}
.jiathis{position:absolute;top:-30px;right:0;}
#openURL{position:absolute;left:-1000px;top:0;overflow:hidden;}
#calendarPanel{position:absolute;left:-9999px;top:0;}
#calltak,#vud_div,#lr_swf_div{position:absolute;width:0 !important;height:0 !important;overflow:hidden;}

/*用于左下、右下弹出框的固定定位*/
.floatLeftBottom{position:fixed;left:0;bottom:0;z-index:2147483647;}
* html .floatLeftBottom{position:absolute;left:0;bottom:auto;top:expression(eval(document.documentElement.clientHeight + document.documentElement.scrollTop - this.offsetHeight));}
.floatRightBottom{position:fixed;right:0;bottom:0;z-index:2147483647;}
* html .floatRightBottom{position:absolute;right:0;bottom:auto;top:expression(eval(document.documentElement.clientHeight + document.documentElement.scrollTop - this.offsetHeight));}