#container {
  padding: 0 10px;
}

#goodsBox {

}

.goods-group {
}

.goods-group-title {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
}

.goods-group-cont {

}

.goods-list-item {
  margin-bottom: 30px;
  overflow-x: auto;
}

.goods-list-item-inner {
  white-space: nowrap;
}

.goods-item-link {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

.goods-item-link:hover {
  text-decoration: none;
}

.goods-item-item-info {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding: 10px;
}

.goods-item-item-info-platform {
  display: inline-block;
  padding: 0 10px;
  border-radius: 5px;
  font-size: 14px;
  line-height: 30px;
}

.goods-item-item-info-platform.star {
  color: #fff;
  background-color: #e9393b;
  opacity: 0.9;
}

.goods-item-item-info-platform.tmall {
  color: #fff;
  background-color: #7b0e0b;
  opacity: 0.9;
}

.goods-item-item-info-platform.jd {
  color: #fff;
  background-color: #380604;
  opacity: 0.9;
}

.goods-item-item-info-price {
  margin-top: 5px;
  width: 100%;
  padding: 10px 0;
  text-indent: 10px;
  background: rgba(255,255,255,.7);
}

.goods-item-image-box {
  padding: 10px;
}

.goods-item-image {
  /* width: 220px; */
  /* height: 392px; */
  width: 200px;
  height: 356px;
  box-shadow: 0px 0px 10px rgba(0,0,0,.3);
}

.goods-item-image-type {
  position: absolute;
  left: 10;
  right: 10;
  top: 0;
  width: 100%;
  height: 30px;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  background: rgba(0,0,0,.5);
}

.goods-item-title {
  margin-top: 10px;
  font-size: 14px;
  line-height: 26px;
}