@charset "utf-8";
@import "./_base.scss";

// 左浮动
%fl {float: left;}
%fl-sm {float: left;}
%fl-md {float: left;}
%fl-lg {float: left;}


// ====================================================================================
// ====================================================================================

// 基础重置
*{
	padding:0;
	margin:0;
	box-sizing: border-box;
}

html, body{
    font: 13px/1.8 Avenir, Arial, "Hiragino Sans GB", "\5FAE\8F6F\96C5\9ED1", "\5b8b\4f53", sans-serif;
    background-color: #FFF;
    background-image: url(none);
    background-attachment: fixed;
    color: #222;
}

// 使列表更好地工作
// ------------------------------------------------------------
li{
    list-style: none;
}

// 锚链接默认行为样式
// ------------------------------------------------------------
a{
    background: transparent;
    text-decoration: none;
    color: #222;
}

a:active, a:hover{
    text-decoration: underline;
    outline: none;
}

a:focus{
    text-decoration: none;
    outline: none;
    hide-focus: expression(this.hideFocus=true);
}

a:visited{
    text-decoration: none;
    outline: none;
}

// 标题标签默认不继承父级元素的字体
// ------------------------------------------------------------
h1, h2, h3, h4, h5, h6{
    font: inherit;
}

// 样式类标签的统一
// ------------------------------------------------------------
b, strong{
    font-weight: bold;
}

img, fieldset, legend{
    border: none;
}

img:-moz-broken{ 
    -moz-force-broken-image-icon:1; 
}

dfn{
    font-style: italic;
}

sub, sup{
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

sup{
    top: -0.5em;
}

sub{
    bottom: -0.25em;
}

small{
    font-size: 80%;
}

em, small, var, i, cite{
    font-style: normal;
}

code, kbd, pre, samp{
    font-family: monospace, monospace;
    font-size: 1em;
}

// 表单元素
// ------------------------------------------------------------
button, input, optgroup, select, textarea{
    color: inherit;
    font: inherit;
    outline: none;
}

button, input, optgroup, select{
    vertical-align: middle;
}

button, select{
    text-transform: none;
}

input{
    line-height: normal;
}

button{
    overflow: visible;
}

textarea{
    resize: none;
}

input, textarea {
    border-radius: 0;
    -webkit-appearance: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"]{
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled], html input[disabled]{
    cursor: default;
}
button::-moz-focus-inner, input::-moz-focus-inner{
    border: 0;
    padding: 0;
}

input[type="checkbox"], input[type="radio"]{
    box-sizing: border-box;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button{
    height: auto;
}

input[type="search"]{
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration{
    -webkit-appearance: none;
}

// 重置各大浏览器占位文本的颜色
// ------------------------------------------------------------
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder{
    color: #C7C7C7;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #C7C7C7;
    opacity: 1;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder{
    color: #C7C7C7;
}

// 使表格处于单边框模式
// ------------------------------------------------------------
table{
    border-collapse: collapse;
    border-spacing: 0;
}

td, th{
    padding: 0;
}



// ====================================================================================
// ====================================================================================

// 容器，包含页面所有标签，并控制页面最大展示宽度
.container {
	@include clearfix();
	padding-left: $baseSplit;
	padding-right: $baseSplit;
	margin-left: auto;
	margin-right: auto;

	@media screen and (min-width: $screen-sm) {
		width: $screen-sm - $baseSplit-sm*2;
		padding-left: $baseSplit-sm;
		padding-right: $baseSplit-sm;
	}

	@media screen and (min-width: $screen-md) {
		width: $screen-md - $baseSplit-md*2;
		padding-left: $baseSplit-md;
		padding-right: $baseSplit-md;
	}

	@media screen and (min-width: $screen-lg) {
		width: $screen-lg - $baseSplit-lg*2;
		padding-left: $baseSplit-lg;
		padding-right: $baseSplit-lg;
	}
}

// 布局行
.row {
	@include clearfix();
	margin-left: -$baseSplit;
	margin-right: -$baseSplit;

	@media screen and (min-width: $screen-sm) {
		margin-left: -$baseSplit-sm;
		margin-right: -$baseSplit-sm;
	}

	@media screen and (min-width: $screen-md) {
		margin-left: -$baseSplit-md;
		margin-right: -$baseSplit-md;
	}

	@media screen and (min-width: $screen-lg) {
		margin-left: -$baseSplit-lg;
		margin-right: -$baseSplit-lg;
	}
}

// 布局列-超小设备标准列
%baseCol-xs {
	position: relative;
	min-height: 1px;
	padding-left: $baseSplit;
	padding-right: $baseSplit;
}
@for $i from 1 through 12 {
	.col-xs-#{$i} {
		@extend %fl;
		@extend %baseCol-xs;
		width: caclPercent($i, 12);
	}
}

// 布局列-小型设备
%baseCol-sm {
	position: relative;
	min-height: 1px;
	padding-left: $baseSplit-sm;
	padding-right: $baseSplit-sm;
}
@for $i from 1 through 12 {
	.col-sm-#{$i} {
		@extend %baseCol-sm;

		@media screen and (min-width: $screen-sm) {
			float: left;
			width: caclPercent($i, 12);
		}
	}
}

// 布局列-中型设备
%baseCol-md {
	position: relative;
	min-height: 1px;
	padding-left: $baseSplit-md;
	padding-right: $baseSplit-md;
}
@for $i from 1 through 12 {
	.col-md-#{$i} {
		@extend %baseCol-md;

		@media screen and (min-width: $screen-md) {
			float: left;
			width: caclPercent($i, 12);
		}
	}
}

// 布局列-大型设备
%baseCol-lg {
	position: relative;
	min-height: 1px;
	padding-left: $baseSplit-lg;
	padding-right: $baseSplit-lg;
}
@for $i from 1 through 12 {
	.col-lg-#{$i} {
		@extend %baseCol-lg;

		@media screen and (min-width: $screen-lg) {
			float: left;
			width: caclPercent($i, 12);
		}
	}
}

// 多列布局换行清除浮动设置
@each $i in 2, 3, 4, 6 {

	.clear-xs-#{$i} {
		:nth-child(#{12/$i}n+1) {
			clear: both;
		}
	}
}


@media screen and (min-width: $screen-sm) {

	@each $i in 2, 3, 4, 6 {

		.clear-sm-#{$i} {

			> [class*="col-"] {
				clear: none;
			}

			:nth-child(#{12/$i}n+1) {
				clear: both;
			}
		}
	}
}

@media screen and (min-width: $screen-md) {

	@each $i in 2, 3, 4, 6 {

		.clear-md-#{$i} {

			> [class*="col-"] {
				clear: none;
			}

			:nth-child(#{12/$i}n+1) {
				clear: both;
			}
		}
	}
}

@media screen and (min-width: $screen-lg) {

	@each $i in 2, 3, 4, 6 {

		.clear-lg-#{$i} {

			> [class*="col-"] {
				clear: none;
			}

			:nth-child(#{12/$i}n+1) {
				clear: both;
			}
		}
	}
}