<DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>龙泉的星链小店</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1,user-scalable=no">
    <link rel="stylesheet" href="./css/reset.css" />
    <link rel="stylesheet" href="./css/main.css" />
    <script src="./js/vue.min.js"></script>
		<script src="./js/vue-lazyload.js"></script>
		<script>
			Vue.use(VueLazyload);
		</script>
</head>
<body>
	<iframe id="iframeBox" src="https://friend.380star.com/goods.do?goodsid=7375807&flag=0&storeid=244721&shareuserid=655864&addspuserid=655864"></iframe>
	<div id="container">
		<div id="goodsBox">
			<div
				v-for="(groupItem, index) in useGroupData"
				v-if="groupItem !== undefined"
				class="goods-group"
			>
				<div
					class="goods-group-title"
				>
					{{groupItem.name}}
				</div>
				<div class="goods-group-cont">
					<div
						v-for="(goodsItem, goodsIndex) in groupItem.goods"
						class="goods-list-item"
					>
						<div class="goods-list-item-inner">
							<a
								v-for="(picItem, picIndex) in goodsItem.pictures"
								class="goods-item-link"
								:href="picItem.url"
								target="_blank"
							>
								<div class="goods-item-item-info">
									<div class="goods-item-item-info-platform" :class="[picItem.type]">
										{{platformType[picItem.type].name}}
									</div>
									<div
										v-if="goodsItem.showPrice && picItem.type === 'star'"
										class="goods-item-item-info-price"
									>
										<p>标准销售价：{{goodsItem.goodsPriceStr}}</p>
										<p v-if="vipLevel === '0' || vipLevel === '1'">一星会员价：{{goodsItem.vipPriceLevelOne}}，佣金：{{goodsItem.commissionLevelOne}}</p>
										<p v-if="vipLevel === '0' || vipLevel === '3'">三星会员价：{{goodsItem.vipPriceLevelThree}}，佣金：{{goodsItem.commissionLevelThree}}</p>
										<p v-if="vipLevel === '0' || vipLevel === '5'">五星会员价：{{goodsItem.vipPriceLevelFive}}，佣金：{{goodsItem.commissionLevelFive}}</p>
									</div>
									<div
										v-if="goodsItem.showPrice && picItem.type !== 'star'"
										class="goods-item-item-info-price"
									>
										<p>标准销售价：{{picItem.goodsPrice.toFixed(2)}}</p>
										<p v-if="picItem.couponPrice">券后购买价：{{picItem.couponPrice.toFixed(2)}}</p>
									</div>
								</div>
								<div class="goods-item-image-box">
									<img class="goods-item-image" v-lazy="picItem.image" />
								</div>
								<div v-if="picItem.isInvalid" class="goods-item-invalid">
									<div class="goods-item-invalid-text">已失效</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="./data/dataBedroom.js?t=20190930"></script>
	<script src="./data/dataDaily.js?t=20190930"></script>
	<script src="./data/dataFood.js?t=20190930"></script>
	<script src="./data/dataWash.js?t=20190930"></script>
	<script src="./data/dataMaternal.js?t=20190930"></script>
	<script src="./data/datakitchenCookers.js?t=20190930"></script>
	<script src="./data/datakitchenMaterial.js?t=20190930"></script>
	<script src="./js/main.js?t=20190930"></script>
</body>
</html>