<DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
		<title>龙泉的星链商城</title>
		<meta name="description" itemprop="description" content="龙泉的星链商城，专业为您推荐星链爆品好物。星链·友店商城，领先的通证电商平台，为您提供物美价廉、正品好货！"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1,user-scalable=no" />
		<link rel="shortcut icon" href="./images/favicon.ico" />
    <link rel="stylesheet" href="./css/reset.css?t=20191008" />
    <link rel="stylesheet" href="./css/main.css?t=20191008" />
    <script src="./js/vue.min.js"></script>
		<script src="./js/vue-lazyload.js"></script>
		<script>
			Vue.use(VueLazyload);
		</script>
</head>
<body>
	<img src="./images/logo.png" style="position: absolute; left: -9999px;" />
	<div id="container">
		<div id="goodsBox" :class="{isDone: isDone}">
			<div
				v-for="(groupItem, index) in useGroupData"
				v-if="groupItem !== undefined"
				class="goods-group"
			>
				<div
					class="goods-group-title"
				>
					{{groupItem.name}}
				</div>
				<div class="goods-group-cont">
					<div
						v-for="(goodsItem, goodsIndex) in groupItem.goods"
						class="goods-list-item"
					>
						<div class="goods-list-item-title">{{goodsItem.title}}</div>
						<div
							class="goods-list-item-cont"
						>
							<div class="goods-list-item-inner">
								<a
									v-for="(picItem, picIndex) in goodsItem.pictures"
									class="goods-item-link"
									:href="picItem.url"
									target="_blank"
								>
									<div class="goods-item-info">
										<div class="goods-item-info-platform" :class="[picItem.type]">
											{{platformType[picItem.type].name}}
										</div>
									</div>
									<div class="goods-item-info-bottom">
										<div
											v-if="goodsItem.showPrice && picItem.type === 'star'"
											class="goods-item-info-price"
											:class="[picItem.type]"
										>
										<p v-if="vipLevel === '0' || vipLevel === '5'">五星会员价：{{goodsItem.vipPriceLevelFive}}，佣金：{{goodsItem.commissionLevelFive}}</p>
										<p v-if="vipLevel === '0' || vipLevel === '3'">三星会员价：{{goodsItem.vipPriceLevelThree}}，佣金：{{goodsItem.commissionLevelThree}}</p>
										<p v-if="vipLevel === '0' || vipLevel === '1'">一星会员价：{{goodsItem.vipPriceLevelOne}}，佣金：{{goodsItem.commissionLevelOne}}</p>
											<p>标准销售价：{{goodsItem.goodsPriceStr}}</p>
										</div>
										<div
											v-if="goodsItem.showPrice && picItem.type !== 'star'"
											class="goods-item-info-price"
											:class="[picItem.type]"
										>
											<p v-if="picItem.couponPrice">券后购买价：{{picItem.couponPrice.toFixed(2)}}</p>
											<p>标准销售价：{{picItem.goodsPrice.toFixed(2)}}</p>
										</div>
									</div>
									<div class="goods-item-image-box">
										<img class="goods-item-image" :class="[picItem.type]" v-lazy="picItem.image + '?t=20191004'" />
									</div>
									<div v-if="picItem.isInvalid" class="goods-item-invalid">
										<div class="goods-item-invalid-text">已失效</div>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="./data/dataBedroom.js?t=20191008"></script>
	<script src="./data/dataDaily.js?t=20191008"></script>
	<script src="./data/dataFood.js?t=20191008"></script>
	<script src="./data/dataWash.js?t=20191008"></script>
	<script src="./data/dataMaternal.js?t=20191008"></script>
	<script src="./data/datakitchenCookers.js?t=20191008"></script>
	<script src="./data/datakitchenMaterial.js?t=20191008"></script>
	<script src="./js/main.js?t=20191008"></script>
</body>
</html>