/*============================
 *newsroom.html页面独立样式
 *针对中部主体、右部侧栏样式
 *2011-2-14
 *============================*/
 
 
 
 /*===================================================================================================
 *===============================页面的总体布局========================================================
 *===================================================================================================*/ 
 		
		/*内容主体*/
		#newsroomContainer{
			width:391px;
			height:634px;
			margin:0px auto;
		}
		/*======*/
		#newsroomSpaceLine{
			height:20px;
			margin-bottom:10px;
		}
		.newsroomContentWrapper{
			height:50px;			/*共8各容器 50*8=400px;*/
		}
		.newsroomContent_date{
			width:120px;
			float:left;
		}
		.newsroomContent_summary{
			width:271px;
			float:left;
		}
		
		/*内容右部侧栏*/
		#sideRight{
			width:171px;
			height:634px;
		}


/*===================================================================================================
 *===============================页面的文本控制========================================================
 *===================================================================================================*/
		
		/*中部主体*/
		#newsroomCaption{
			color:blue;
		}
		#newsroomSpaceLine{
			background-color:#e0edf3;
		}
		.newsroomContent_date{
			color:#0065c2;
		}
		
		/*右部侧栏*/
		#sideRight{
			background-color:#cde3ec;
		}
		#newsroomSideRight_content{
			padding-top:20px;
		}
		#sideRight img{
			margin:17px 0px 0px 23px;
			border:none;
		}