@charset "utf-8";


// @import "../../base/_mixin.scss";


// .bgOpacity{
//  @include bgOpacity(#000, 0.5);
// }

.market-wrap {
  display: block;
  > .title {
    height: 60px;
    background-color: #eee;
    img {
      display: block;
      vertical-align: baseline;
    }
    span {
      font-size: 1.2em;
    }
  }
}


.content-page {
  font-size: 1.2rem;

  @media screen and (min-width: 641px) {
  font-size: 1rem;
  }

  > .main {
  background-color: whitesmoke;

  > .latest-news {
    padding: 1rem;

    > .news-article {
    padding: 1rem;

    > .title {
      font-size: 2rem;

      @media screen and (min-width: 641px) {
      font-size: 3rem;
      }
    }
    }
  }

  > .content {
    margin-top: 2rem;
    padding: 1rem;
  }
  }

  > .page-footer {
  margin-top: 2rem;
  font-size: 1rem;

  @media screen and (min-width: 641px) {
    font-size: 0.8rem;
  }
  }
}
